.vscode/

.DS_store

build/

*.aux
*.dep
*.dpth
*.md5
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.figlist
*.fls
*.glg
*.glo
*.gls
*.lof
*.log
*.lot
*.pdf
*.xml
*.toc
*.xdy
*.makefile
*.out
*.auxlock
.~lock.*
